.input {
  width: 90%;
  height: 48px;
  padding-left: 1rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 3px 4px #00000029;
  color: #a4afb7;
}

.input:focus {
  outline: none;
}

@media (width > 640px) {
    .input{
        width: 50%;
    }
}