.button {
  /* width: 239px;
  height: 75px; */
  padding: 1rem 2rem;
  background: var(--secondary-color) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2c1dad29;
  border-radius: 38px;
  color: #f8f8f8;
}
